<head>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,700,700i|Lekton:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/story.css">
    <title>{{entry.title}}</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc9300">
    <meta name="apple-mobile-web-app-title" content="Switchbacks">
    <meta name="application-name" content="Switchbacks">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#000000">
</head>

{% set entryQuery = craft.entries().section('story') %}

{# Execute the query and get the results #}
{% set entries = entryQuery.all() %}
{% set story = 0 %}
{% set found = 0 %}
{%  set chapter_number = 0%}

{%  for e in entries %}
    {% if found == 0 %}

        {% for chapter in e.chapterList.all() %}
        {% if found == 0 %}
             {% if chapter.slug == entry.slug %}
                {% set story = e %}
                {% set chapter_number = loop.index0 %}
                {% set found = 1 %}
             {% endif %}
      {% endif %}
      {% endfor %}

    {% endif %}
{%  endfor  %}

<section class="head grid">
    <nav class="navbar">
            <div class="brand"></div>
            <div class="links">
                <a href="/articles" class="active">Stories</a>
                <a href="#">Trail Log </a>
                <a href="#">Guidebook</a> <a href="#">Team</a>
                <a  href="#" class="solid">Contact</a>
            </div>
            <div class="clearfix"></div>
    </nav>

    <div class="title_block">
        <h2>
            {{entry.place}}
        </h2>
        <h1>
            {{entry.title}}
        </h1>
    </div>

    {% if entry.articleAuthor | length > 0 %}
    <div class="author_block">
        <div class="image" style="background-image: url({{ entry.articleAuthor[0].image[0].url }})"></div>
        <div class="info">
            Article by <a href="/author/{{entry.articleAuthor[0].slug}}">{{entry.articleAuthor[0].title}}</a> <br>
            {{entry.articleDate | date("F d, Y")}}
        </div>
    </div>

    {% endif %}
    {% if entry.heroImage | length == 1 %}
    <div class="heroImage" style="background-image: url({{ entry.heroImage ? entry.heroImage[0].url : '' }})"></div>
    {% endif %}
    <div class="article_info">
            <div class="left">
                <div class="blurb">
                    {{entry.description ? entry.description : ''}}
                </div>


                {% if found %}
                    {% set length = story.chapterList | length %}
                <div class="chapters">
                    <div class="title">{{story.title}}</div>
                    <div class="chapter-nav">
                    {% if chapter_number > 0 %}
                        <a href="{{story.chapterList[chapter_number - 1].url}}">&lt;-- </a>
                    {% else %}
                        <span>&lt;-- </span>
                    {% endif %}
                    {{ chapter_number + 1 }} / {{ length }}
                    {% if chapter_number < length -1 %}
                        <a href="{{story.chapterList[chapter_number+1].url}}"> --&gt; </a>
                    {% else %}
                        <span> --&gt; </span>
                    {% endif %}
                    </div>
                </div>
                {% endif %}



            </div>
            <div class="right">
                <div class="stats">

                    <div class="stat_block"><div class="title">Miles</div><div class="stat">{{entry.miles}}</div></div>
                    <div class="stat_block"><div class="title">Days</div><div class="stat">{{entry.days}}</div></div>
                    <div class="stat_block"><div class="title">Difficulty</div><div class="stat">{{entry.difficulty}}</div></div>
                    <div class="stat_block"><div class="title">Trail</div><div class="stat">{{entry.trailType}}</div></div>

                    <div class="stat_block"><div class="title">Camping</div><div class="stat">{{entry.camping}}</div></div>
                    <div class="stat_block"><div class="title">Month</div><div class="stat">{{entry.month}}</div></div>
                    <div class="stat_block"><div class="title">Park Type</div><div class="stat">{{entry.parkType}}</div></div>
                    <div class="stat_block"><div class="title">Traffic</div><div class="stat">{{entry.traffic}}</div></div>

                </div>
            </div>
            <div class="clearfix"></div>
    </div>
</section>

<section class="story grid">
    {% for block in entry.mainContent.all() %}

    {% if block.type == "paragraph" %}

    {{ block.textMarkdown|markdown }}

    {% elseif block.type == "blockQuote" %}
    <div class="quote">

        <div class="quote_text">{{ block.quote | markdown }}</div>
        <div class="author">{{ block.author }}</div>

    </div>


    {% elseif block.type == "sectionTitle" %}
    <h2>{{block.text}}</h2>


    {% elseif block.type == "image" %}
    <figure class="single_image {{block.imageSize ? block.imageSize:''}}">
        <img src="{{block.image[0].url}}"
             alt="{{block.description}}"/>
        <figcaption class="{{block.captionLocation}}"> {{ block.caption }}</figcaption>
    </figure>


    {% elseif block.type == "caltopoMap" %}
    <figure class="caltopo_map {{block.size ? block.size:''}}">
        <iframe src="https://caltopo.com/m/{{block.mapCode}}"></iframe>
    </figure>


    {% elseif block.type == "doubleImage" %}
    <div class="double_image">
        <img src="{{block.imageOne[0].url}}"/>
        <img src="{{block.imageTwo[0].url}}"/>
    </div>
    {% endif %}


    {% endfor %}
</section>
<section class="read_more grid">

</section>
<section class="share grid">
    <div class="cta">
        <h1>Share your story</h1>
        <p>
            Want to share a story of your own? We would love to feature you!<br/>
            Shoot us an email or a privatemessage on Instagram and we'll work something out. <br/>
            For high resolution photos or anything else, please contact <a href="/author/alexander-moliski">Alex</a>.
        </p>
    </div>

</section>
<section class="footer grid">
    <nav class="footer_navbar">
        <div class="brand">
            <div class="logo"></div>
            <span class="wordmark">S<span class="tripleu">w</span>itchbacks</span>
        </div>
        <div class="links">
            <a href="/articles" class="active">Stories</a>
            <a href="#">Trail Log </a>
            <a href="#">Guidebook</a> <a href="#">Team</a>
            <a href="#">Contact</a>
        </div>
    </nav>
</section>