<head>
    <title>{{entry.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,700,700i|Lekton:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/article.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc9300">
    <meta name="apple-mobile-web-app-title" content="Switchbacks">
    <meta name="application-name" content="Switchbacks">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#000000">

    {% if entry.heroImage | length > 0 %}
    {% set hero_path = ( entry.heroImage[0].folderPath ~ entry.heroImage[0].filename ) %}
    <style>

        .heroImage {
            background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/900x0/media/"~ hero_path }})
        }
        @media screen and (min-width: 1920px) {
            .heroImage {
                background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/1920x0/media/"~ hero_path }})
            }

        }
        @media screen and (min-width: 1440px) {
            .heroImage {
                background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/1440x0/media/"~ hero_path }})
            }

        }
        @media screen and (min-width: 2560px) {
            .heroImage {
                background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/2560x0/media/"~ hero_path }})
            }

        }
        @media screen and (min-width: 3840px) {
            .heroImage {
                background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/3840x0/media/"~ hero_path }})
            }

        }


    </style>
    {% endif %}


</head>


{% set story = 0 %}
{% set found = 0 %}


{% set storySearch = craft.entries().section('story').search('chapterList:' ~ entry.slug).all() %}
{%  if storySearch | length > 0 %}
    {% set found = 1 %}
    {% set story = storySearch[0] %}
    {% set chapters = story.chapterList %}
    {% set story_length = chapters | length %}
    {% set story_chapter_number = 0 %}
    {% for chapter in story.chapterList.all() %}
        {% if chapter.slug == entry.slug %}
            {% set story_chapter_number = loop.index0 %}
        {% endif %}
    {% endfor %}
{% endif %}


{% include 'components/navbar.twig' %}

<section class="head grid">

    <div class="title_block">
        {% if entry.place != "NA" %}
        <h2>
            {{entry.place}}
        </h2>
        {% endif %}
        <h1>
            {{entry.title}}
        </h1>

        {% if entry.articleAuthor | length > 0 %}
        <div class="author_block">
            <div class="image" style="background-image: url({{ entry.articleAuthor[0].image[0].url }})"></div>
            <div class="info">
                Article by <a href="/author/{{entry.articleAuthor[0].slug}}">{{entry.articleAuthor[0].title}}</a> <br>
                {{entry.articleDate | date("F d, Y")}}
            </div>
        </div>
        {% endif %}
    </div>

    {% if entry.heroImage | length == 1 %}
    <div class="heroImage"></div>
    {% endif %}
    <div class="article_info">
            <div class="{{ entry.showTrailInfo?'left':'center' }}">
                <div class="blurb">
                    {{entry.description ? entry.description : ''}}
                </div>


                {% if found %}
                <div class="chapters">
                    <div class="title">{{story.title}}</div>
                    <div class="chapter-nav">
                    {% if story_chapter_number > 0 %}
                        <a href="{{chapters[story_chapter_number - 1].url}}">&lt;—— </a>
                    {% else %}
                        <span class="disabled">&lt;—— </span>
                    {% endif %}
                    {{ story_chapter_number + 1 }} / {{ story_length }}
                    {% if story_chapter_number < story_length - 1 %}
                        <a href="{{chapters[story_chapter_number+1].url}}"> ——&gt; </a>
                    {% else %}
                        <span class="disabled"> ——&gt; </span>
                    {% endif %}
                    </div>
                </div>
                {% endif %}



            </div>
            {% if entry.showTrailInfo %}
            <div class="right">
                <div class="stats">
                    <div class="stat_block"><div class="title">Miles</div><div class="stat">{{entry.miles}}</div></div>
                    <div class="stat_block"><div class="title">Days</div><div class="stat">{{entry.days}}</div></div>
                    <div class="stat_block"><div class="title">Difficulty</div><div class="stat">{{entry.difficulty}}</div></div>
                    <div class="stat_block"><div class="title">Trail</div><div class="stat">{{entry.trailType}}</div></div>

                    <div class="stat_block"><div class="title">Camping</div><div class="stat">{{entry.camping}}</div></div>
                    <div class="stat_block"><div class="title">Month</div><div class="stat">{{entry.month}}</div></div>
                    <div class="stat_block"><div class="title">Park Type</div><div class="stat">{{entry.parkType}}</div></div>
                    <div class="stat_block"><div class="title">Traffic</div><div class="stat">{{entry.traffic}}</div></div>
                </div>
            </div>
            {% endif %}

            <div class="clearfix"></div>
    </div>
</section>

<section class="story grid">
    {% for block in entry.mainContent.all() %}

    {% if block.type == "paragraph" %}

    {{ block.textMarkdown|markdown }}

    {% elseif block.type == "blockQuote" %}
    <div class="quote">

        <div class="quote_text">{{ block.quote | markdown }}</div>
        <div class="author">{{ block.author }}</div>

    </div>


    {% elseif block.type == "sectionTitle" %}
    <h2>{{block.text}}</h2>


    {% elseif block.type == "image" %}
    <figure class="single_image {{block.imageSize ? block.imageSize:''}}">

        {% set sizes = '100vw' %}
        {% if block.imageSize %}
            {% if block.imageSize == 'align-center' %}
                {% set sizes = '(max-width: 900px) 100vw, 800px' %}
            {% elseif block.imageSize == 'align-half' %}
                {% set sizes = '(max-width: 900px) 100vw, 1400px' %}
            {% endif %}
        {% endif %}
        {% set image_path = ( block.image[0].folderPath ~ block.image[0].filename ) %}
        {% set srcset = ("
        https://dv38fo0xkn5dz.cloudfront.net/fit-in/600x0/media/"~ image_path ~ " 600w,
        https://dv38fo0xkn5dz.cloudfront.net/fit-in/800x0/media/"~ image_path ~ " 800w,
        https://dv38fo0xkn5dz.cloudfront.net/fit-in/1400x0/media/"~ image_path ~ " 1400w,
        https://dv38fo0xkn5dz.cloudfront.net/fit-in/1920x0/media/"~ image_path ~ " 1920w,
        https://dv38fo0xkn5dz.cloudfront.net/fit-in/2560x0/media/"~ image_path ~ " 2560w,
        https://dv38fo0xkn5dz.cloudfront.net/fit-in/3840x0/media/"~ image_path ~ " 3840w
        ") %}

        <img src="https://dv38fo0xkn5dz.cloudfront.net/fit-in/1920x0/media/{{ block.image[0].folderPath }}{{ block.image[0].filename }}"
             sizes="{{ sizes }}"
             srcset="{{ srcset }}">
        <figcaption class="{{block.captionLocation}}"> {{ block.caption }}</figcaption>
    </figure>

    {% elseif block.type == "caltopoMap" %}
    <figure class="caltopo_map {{block.size ? block.size:''}}">
        <iframe src="https://caltopo.com/m/{{block.mapCode}}"></iframe>
    </figure>


    {% elseif block.type == "list" %}
        <ul>
            {% for row in block.list %}
                <li>{{ row.item }}</li>
            {% endfor %}
        </ul>

    {% elseif block.type == "doubleImage" %}
    <div class="double_image">
        {% set sizes = '50vw' %}
        {% if block.imageSize %}
            {% if block.imageSize == 'align-center' %}
                {% set sizes = '(max-width: 900px) 50vw, 400px' %}
            {% elseif block.imageSize == 'align-half' %}
                {% set sizes = '(max-width: 900px) 50vw, 700px' %}
            {% endif %}
        {% endif %}

        {% set image_path = (block.imageOne[0].folderPath ~ block.imageOne[0].filename ) %}
        {% set srcset = ("
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/600x0/media/"~ image_path ~ " 600w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/800x0/media/"~ image_path ~ " 800w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/1400x0/media/"~ image_path ~ " 1400w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/1920x0/media/"~ image_path ~ " 1920w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/2560x0/media/"~ image_path ~ " 2560w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/3840x0/media/"~ image_path ~ " 3840w
        ") %}

        <img src="https://dv38fo0xkn5dz.cloudfront.net/fit-in/1920x0/media/{{ block.imageOne[0].folderPath }}{{ block.imageOne[0].filename }}"
             sizes="{{ sizes }}"
             srcset="{{ srcset }}">

        {% set image_path = ( block.imageTwo[0].folderPath ~ block.imageTwo[0].filename ) %}
        {% set srcset = ("
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/600x0/media/"~ image_path ~ " 600w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/800x0/media/"~ image_path ~ " 800w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/1400x0/media/"~ image_path ~ " 1400w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/1920x0/media/"~ image_path ~ " 1920w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/2560x0/media/"~ image_path ~ " 2560w,
            https://dv38fo0xkn5dz.cloudfront.net/fit-in/3840x0/media/"~ image_path ~ " 3840w
        ") %}

        <img src="https://dv38fo0xkn5dz.cloudfront.net/fit-in/1920x0/media/{{ block.imageTwo[0].folderPath }}{{ block.imageTwo[0].filename }}"
             sizes="{{ sizes }}"
             srcset="{{ srcset }}">
    </div>
    {% endif %}


    {% endfor %}
</section>
<section class="read_more grid">
    <div class="article_info">
        {% if entry.footerBlurb %}
        <div class="center">
            <div class="blurb bottom_spaced">
                {{entry.footerBlurb}}
            </div>
        </div>
        {% endif %}
        {% if entry.showTrailInfo %}
        <div class="stats">

            <div class="stat_block"><div class="title">Miles</div><div class="stat">{{entry.miles}}</div></div>
            <div class="stat_block"><div class="title">Days</div><div class="stat">{{entry.days}}</div></div>
            <div class="stat_block"><div class="title">Difficulty</div><div class="stat">{{entry.difficulty}}</div></div>
            <div class="stat_block"><div class="title">Trail</div><div class="stat">{{entry.trailType}}</div></div>

            <div class="stat_block"><div class="title">Camping</div><div class="stat">{{entry.camping}}</div></div>
            <div class="stat_block"><div class="title">Month</div><div class="stat">{{entry.month}}</div></div>
            <div class="stat_block"><div class="title">Park Type</div><div class="stat">{{entry.parkType}}</div></div>
            <div class="stat_block"><div class="title">Traffic</div><div class="stat">{{entry.traffic}}</div></div>

        </div>
        {% endif %}
        <div class="clearfix"></div>
    </div>
</section>

<section class="share grid">
    <div class="cta">
        <h1>Share your story</h1>
        <p>
            Want to share a story of your own? We would love to feature you!<br/>
            Shoot us an email or a privatemessage on Instagram and we'll work something out. <br/>
            For high resolution photos or anything else, please contact <a href="/author/alexander-moliski">Alex</a>.
        </p>
    </div>

</section>

<section class="footer grid">

    <nav class="footer_navbar">
        <div class="brand">
            <div class="logo"></div>
            <span class="wordmark">S<span class="tripleu">w</span>itchbacks</span>
        </div>
        <div class="links">
            <a href="/stories" class="active">Stories</a>
            <a href="/articles">Trail Log </a>
            <a href="#">Guidebook</a>
            <a href="#">Team</a>
            <a href="#">Contact</a>
        </div>
    </nav>
</section>