{% set stories =  craft.Entries.section('story').all() %}

<head>
    <title>Stories</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,700,700i|Lekton:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/stories.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc9300">
    <meta name="apple-mobile-web-app-title" content="Switchbacks">
    <meta name="application-name" content="Switchbacks">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#000000">
</head>


{% include 'components/navbar.twig' %}

<section class="main grid">
    <div class="featured">
        <div class="description"></div>
        <div class="image"></div>
    </div>
    <div class="storylist">
        {% for story in stories %}
            <div class="story_block">

                {% set story_image =  'https://placehold.it/300/500'  %}
                {% if story.storyImage | length > 0 %}

                    {% set image_path = ( story.storyImage[0].folderPath ~ story.storyImage[0].filename ) %}
                    {% set story_image = ("https://dv38fo0xkn5dz.cloudfront.net/fit-in/600x400/media/"~ image_path ~ " ") %}

                {% endif %}

                <div class="image" style="background-image: url({{ story_image }})"></div>
                <div class="title">
                    {{ story }}
                </div>
                <div class="metadata">
                    {{ story.storyDates }} - {{ story.storyLocation }} - {{ story.chapterList | length }} {{ story.chapterList | length == 1 ? 'Chapter' : 'Chapters' }}
                </div>
                <div class="read_more">
                    <a href="{{ story.url }}">Read More</a>
                </div>
            </div>
        {% endfor %}
    </div>
</section>


{% include 'components/footer.twig' %}
