<head>
    <title>{{entry.title}}</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,700,700i|Lekton:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/story.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fc9300">
    <meta name="apple-mobile-web-app-title" content="Switchbacks">
    <meta name="application-name" content="Switchbacks">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#000000">
</head>

<section class="navbar grid">
    <nav>
        <a href="/" class="brand"></a>
        <div class="links">
            <a href="/stories" class="active">Stories</a>
            <a href="/articles">Trail Log</a>
            <a href="#">Guidebook</a> <a href="#">Team</a>
            <a  href="#" class="solid">Contact</a>
        </div>
        <div class="clearfix"></div>
    </nav>
</section>

<section class="main">

    <div class="content">
        <h1>{{ entry }}</h1>
        <div class="description">
            {{ entry.storyDescription }}
        </div>

        <div class="metadata">
            {{ entry.storyDates }} - {{ entry.storyLocation }} - {{ entry.chapterList | length }} {{ entry.chapterList | length == 1 ? 'Chapter' : 'Chapters' }}
        </div>

        <hr>

        <div class="articleList">

            {% for article in entry.chapterList.all() %}
            <div class="article">
                <div class="articleData">
                    <div class="articleTitle">
                        {{ article }}
                    </div>
                    <div class="articleLocation">
                        {{ article.place }}
                    </div>
                    <div class="readMore">
                        <a href="{{ article.url }}">Read More</a>
                    </div>
                </div>
                {% set story_image =  article.heroImage | length > 0 ? article.heroImage[0].getUrl('storyThumbnail') :'https://placehold.it/300/500'  %}
                <div class="articleImage" style="background-image:url({{ story_image }});"></div>
            </div>
            {% endfor %}

        </div>
    </div>
</section>
</div>