{% set story = craft.entries().id(entry.id).with([
    'chapterList',
    'chapterList.heroImage',
]).one()%}
{% include 'components/html_head.twig' with {'css': 'story', 'title': story.title} %}
{% include 'components/navbar.twig' %}

<body>
<main id="swup" class="__story__">
    {% if story.chapterList[0].heroImage | length > 0 %}
        <style>
            body {
                background-color: black;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                background-image: url({{get_image_from_media(story.chapterList[0].heroImage, 900) }});
            }
            @media screen and (min-width: 1900px) {
                body {
                    background-image: url({{get_image_from_media(story.chapterList[0].heroImage, 1920) }});
                }
            }
            @media screen and (min-width: 2500px) {
                body {
                    background-image: url({{get_image_from_media(story.chapterList[0].heroImage, 2560) }});
                }
            }
            @media screen and (min-width: 3800px) {
                body {
                    background-image: url({{get_image_from_media(story.chapterList[0].heroImage, 3840) }});
                }
            }
        </style>
    {% endif %}


<section class="main">

    <div class="content dark">
        <h1>{{ entry }}</h1>
        <div class="description">
            <p>{{ story.storyDescription }}</p>
        </div>

        <div class="metadata caption">
            {% if story.storyDates %}{{- story.storyDates -}} - {% endif %}
            {% if story.storyLocation %}{{- story.storyLocation -}} - {% endif %}
            {{- story.chapterList | length -}}&nbsp;{{- story.chapterList | length == 1 ? 'Chapter' : 'Chapters' -}}
        </div>

        <hr>

        <div class="articleList">

            {% for article in story.chapterList %}
                    <div class="article">
                        <div class="articleData">
                            <h2 class="tight"><a href="{{ article.url }}"> {{ article }} </a></h2>

                            <div class="caption">
                                {{ article.place }}
                            </div>
                            <div class="readMore">
                                <a class="primary" href="{{ article.url }}">Read More</a>
                            </div>
                        </div>
                        <a href="{{ article.url }}">
                            <div class="articleImage" style="background-image:url({{ get_image_from_media(article.heroImage, 250, 150) }});"></div>
                        </a>
                    </div>
            {% endfor %}


        </div>
    </div>

    <div class="heroImage"></div>
</section>



{% include 'components/share.twig' %}
{% include 'components/footer.twig' %}
</main>
</body>
