{% include 'components/html_head.twig' with {'css': 'story', 'title': entry.title} %}

    {% if entry.chapterList[0].heroImage | length > 0 %}
        {% set hero_path = ( entry.chapterList[0].heroImage[0].folderPath ~ entry.chapterList[0].heroImage[0].filename ) %}
        <style>
            body {
                background-color: black;
                background-attachment: fixed;
                background-size: cover;
                background-position: center;
                background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/900x0/media/"~ hero_path }});
            }
            @media screen and (min-width: 1920px) {
                body {
                    background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/1920x0/media/"~ hero_path }})
                }

            }
            @media screen and (min-width: 1440px) {
                body {
                    background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/1440x0/media/"~ hero_path }})
                }

            }
            @media screen and (min-width: 2560px) {
                body {
                    background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/2560x0/media/"~ hero_path }})
                }

            }
            @media screen and (min-width: 3840px) {
                body {
                    background-image: url({{"https://dv38fo0xkn5dz.cloudfront.net/fit-in/3840x0/media/"~ hero_path }})
                }

            }
        </style>
    {% endif %}


{% include 'components/navbar.twig' %}

<section class="main">

    <div class="content dark">
        <h1>{{ entry }}</h1>
        <div class="description">
            <p>{{ entry.storyDescription }}</p>
        </div>

        <div class="metadata caption">
            {% if entry.storyDates %}{{- entry.storyDates -}} - {% endif %}
            {% if entry.storyLocation %}{{- entry.storyLocation -}} - {% endif %}
            {{- entry.chapterList | length -}}&nbsp;{{- entry.chapterList | length == 1 ? 'Chapter' : 'Chapters' -}}
        </div>

        <hr>

        <div class="articleList">

            {% for article in entry.chapterList.all() %}
                    <div class="article">
                        <div class="articleData">
                            <h2 class="tight"><a href="{{ article.url }}"> {{ article }} </a></h2>

                            <div class="caption">
                                {{ article.place }}
                            </div>
                            <div class="readMore">
                                <a class="primary" href="{{ article.url }}">Read More</a>
                            </div>
                        </div>
                        {% set image_path = (article.heroImage[0].folderPath ~article.heroImage[0].filename ) %}
                        {% set image_url = ("https://dv38fo0xkn5dz.cloudfront.net/250x150/media/"~ image_path) %}
                        <a href="{{ article.url }}">
                            <div class="articleImage" style="background-image:url({{ image_url }});"></div>
                        </a>
                    </div>
            {% endfor %}


        </div>
    </div>




    <div class="heroImage"></div>
</section>
</div>


{% include 'components/share.twig' %}
{% include 'components/footer.twig' %}
