{% set story = craft.entries().id(entry.id).with([
    'chapterList',
    'chapterList.heroImage',
]).one()%}
{% include 'components/html_head.twig' with {'css': 'story', 'title': story.title} %}
{% include 'components/navbar.twig' %}

<body>
<main id="swup" class="__story__">


<section class="main grid dark">

    <div class="content dark" style="grid-column: wide;">
        <h1>{{ entry }}</h1>
        <div class="description">
            <p>{{ story.storyDescription }}</p>
        </div>

        <div class="metadata caption">
            {% if story.storyDates %}{{- story.storyDates -}} - {% endif %}
            {% if story.storyLocation %}{{- story.storyLocation -}} - {% endif %}
            {{- story.chapterList | length -}}&nbsp;{{- story.chapterList | length == 1 ? 'Chapter' : 'Chapters' -}}
        </div>

        <hr>

        <div class="articleList">

            {% for article in story.chapterList %}
                    <div class="article">
                        <a href="{{ article.url }}">
                            <div class="articleImage" style="background-image:url({{ get_image_from_media(article.heroImage, 250, 150) }});"></div>
                        </a>
                        <div class="articleData">
                            <h2 class="tight"><a href="{{ article.url }}"> {{ article }} </a></h2>

                            <div class="caption">
                                {{ article.place }}
                            </div>
                            <div class="readMore">
                                <a class="primary" href="{{ article.url }}">Read Article</a>
                            </div>
                        </div>
                    </div>
            {% endfor %}


        </div>
    </div>
</section>



{% include 'components/share.twig' %}
{% include 'components/footer.twig' %}
</main>
</body>
