

{% include 'components/html_head.twig' with {'css': 'home'} %}
{% include 'components/navbar.twig' %}


<section class="head dark grid">
    {% set entryQuery = craft.entries().section('article').order('random()').limit(1) %}
    {% set entry = entryQuery.one() %}
    <div class="recent_post">

        <div class="title_block">
            <div>
                {%- if entry.place != "NA" -%}
                    <h2>
                        {{- entry.place -}}
                    </h2>
                {%- endif -%}
                <h1>
                    {{- entry.title -}}
                </h1>
                <div class="description">
                    {{- entry.description -}}
                </div>
                <a class="read_post" href="{{entry.url}}">
                    Read Post
                </a>
            </div>

        </div>
        {%- set image_path = ( entry.heroImage[0].folderPath ~entry.heroImage[0].filename ) -%}
        {%- set v_image_url = ("https://dv38fo0xkn5dz.cloudfront.net/767x1000/media/"~ image_path) -%}
        {%- set image_url = ("https://dv38fo0xkn5dz.cloudfront.net/0x1080/media/"~ image_path) -%}
        <div class="image_block">
            <img class="vertical" src="{{ v_image_url }}"/>
            <img class="horizontal" src="{{ image_url }}"/>
        </div>
    </div>
</section>

<section class="stories light grid storylist">
    <div class="heading">
        <h2>Stories</h2>
    </div>

    {%- set story_image =  'https://placehold.it/300/500'  -%}
    {%- set main_story =  craft.Entries.section('story').orderBy('postDate desc').first() -%}
    {%- if main_story.storyImage | length > 0 -%}
        {% set image_path = ( main_story.storyImage[0].folderPath ~ main_story.storyImage[0].filename ) %}
        {% set story_image = ("https://dv38fo0xkn5dz.cloudfront.net/fit-in/875x550/media/"~ image_path ~ " ") %}
    {%- endif -%}

    <div class="featured_story">
        <div class="title">
            <div class="title">
                {{- main_story -}}
            </div>
            <div class="metadata">
                {{- main_story.storyDates -}} -
                {{- main_story.storyLocation -}} -
                {{- main_story.chapterList | length -}}
                {{- main_story.chapterList | length == 1 ? 'Chapter' : 'Chapters' -}}
            </div>
            <div class="read_more">
                <a href="{{ main_story.url }}">Read More</a>
            </div>
        </div>
        <div class="image" style="background-image: url({{ story_image }})"></div>

    </div>

    <div class="more_stories">
        {%- set stories =  craft.Entries.section('story').orderBy('postDate desc').limit(2).offset(1) -%}
        {%- set story_image =  'https://placehold.it/700/550'  -%}
        {%- for story in stories -%}
            {%- if story.storyImage | length > 0 -%}
                <div class="storyblock">
                    {%- if story.storyImage | length > 0 -%}

                        {%- set image_path = ( story.storyImage[0].folderPath ~ story.storyImage[0].filename ) -%}
                        {%- set story_image = ("https://dv38fo0xkn5dz.cloudfront.net/fit-in/700x550/media/"~ image_path ~ " ") -%}

                    {%- endif -%}

                    <div class="image" style="background-image: url({{ story_image }})"></div>
                    <div class="title">
                        {{ story }}
                    </div>
                    <div class="metadata">
                        {{ story.storyDates }} - {{ story.storyLocation }} - {{ story.chapterList | length }} {{ story.chapterList | length == 1 ? 'Chapter' : 'Chapters' }}
                    </div>
                    <div class="read_more">
                        <a href="{{ story.url }}">Read More</a>
                    </div>
                </div>
            {%- endif -%}
        {%- endfor -%}

    </div>
    <div class="read_more_stories">
        <a href="/stories">More Stories</a>
    </div>

</section>

<section class="posts dark grid">
    <div class="heading">
        <h2>TrailLog Posts</h2>
    </div>
    <div class="wide">
        <p class="trail_log_intro">
            Connect with nature, get some fresh air, find yourself, and have fun. Take the extra step (or 10,000) and join us on one of the thousands of backcountry trails the country has to offer!
        </p>
    </div>

    <div class="wide">
        <div class="trail_log_menu">
            <button class="filter_option active">Most Recent</button>
            <button class="filter_option">Region</button>
            <button class="filter_option">Park</button>
            <button class="filter_option">Difficulty</button>
            <button class="filter_option">Recreation</button>
        </div>
    </div>

    {%- set entryQuery = craft.entries().section('article').orderBy('postDate desc').limit(9) -%}
    {%- set entries = entryQuery.all() -%}

    <div class="recent_articles sm">
        {%- for entry in entries -%}
            {%- set image_url =  'https://placehold.it/300/500'  -%}
            <a href="{{entry.url}}" class="article">
                {%- if entry.heroImage | length > 0 -%}
                    {%- set image_path = ( entry.heroImage[0].folderPath ~ entry.heroImage[0].filename ) -%}
                    {%- set image_url = ("https://dv38fo0xkn5dz.cloudfront.net/800x450/media/"~ image_path) -%}
                {%- endif -%}
                <div class="article_image" style="background-image: url({{ image_url }})"></div>
                <div class="metadata">
                    {% if entry.place %}<div class="location">{{ entry.place }}</div>{% endif %}
                    <div class="title">{{entry.title}}</div>
                </div>
            </a>
        {%- endfor -%}
    </div>

    <div class="recent_articles md">
        {%- for entry in entries -%}
            {%- set image_url =  'https://placehold.it/300/500'  -%}
            <div class="article">
                {%- if entry.heroImage | length > 0 -%}
                    {%- set image_path = ( entry.heroImage[0].folderPath ~ entry.heroImage[0].filename ) -%}
                    {%- set image_url = ("https://dv38fo0xkn5dz.cloudfront.net/800x450/media/"~ image_path) -%}
                {%- endif -%}
                <div class="article_image" style="background-image: url({{ image_url }})">
                    {% if entry.place %}<div class="location">{{ entry.place }}</div>{% endif %}
                </div>
                <div class="title" href="{{entry.url}}">{{entry.title}}</div>
                <a href="{{entry.url}}" class="read_more">Read More</a>
            </div>
        {%- endfor -%}

    </div>

    <div class="read_more_stories">
        <a href="/articles" class="read_more_button">More Posts</a>
    </div>


</section>

<section class="share grid">
    <div class="cta">
        <h1>Share your story</h1>
        <p>
            Want to share a story of your own? We would love to feature you!<br/>
            Shoot us an email or a privatemessage on Instagram and we'll work something out. <br/>
            For high resolution photos or anything else, please contact <a href="/author/alexander-moliski">Alex</a>.
        </p>
    </div>

</section>
<section class="footer grid">
    <nav class="footer_navbar">
        <div class="brand">
            <div class="logo"></div>
            <span class="wordmark">S<span class="tripleu">w</span>itchbacks</span>
        </div>
        <ul class="links">
            <li><a href="/stories" class="active">Stories</a></li>
            <li><a href="/articles">Trail Log </a></li>
            <li><a href="#">Guidebook</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
</section>


