

{% include 'components/html_head.twig' with {'css': 'home'} %}
{% include 'components/navbar.twig' %}


<section class="head dark grid">
    {% set entryQuery = craft.entries().section('article').order('random()').limit(1) %}
    {% set entry = entryQuery.one() %}
    <div class="recent_post">

        <div class="title_block">
            <div>
                <h1>
                    {{- entry.title -}}
                </h1>
                {%- if entry.place != "NA" -%}
                    <div class="caption">
                        {{- entry.place -}}
                    </div>
                {%- endif -%}
                <div class="description">
                    <p>{{- entry.description -}}</p>
                </div>
                <a class="read_post primary" href="{{entry.url}}">
                    Read Post
                </a>
            </div>

        </div>
        {%- set image_path = ( entry.heroImage[0].folderPath ~entry.heroImage[0].filename ) -%}
        {%- set v_image_url = ("https://dv38fo0xkn5dz.cloudfront.net/767x1000/media/"~ image_path) -%}
        {%- set image_url = ("https://dv38fo0xkn5dz.cloudfront.net/0x1080/media/"~ image_path) -%}
        <div class="image_block">
            <img class="vertical" src="{{ v_image_url }}"/>
            <img class="horizontal" src="{{ image_url }}"/>
        </div>
    </div>
</section>

<section class="stories light grid storylist">
    <header class="caption">
        Stories
    </header>


    {%- set story_image =  'https://placehold.it/300/500'  -%}
    {%- set main_story =  craft.Entries.section('story').orderBy('postDate desc').first() -%}
    {%- if main_story.storyImage | length > 0 -%}
        {% set image_path = ( main_story.storyImage[0].folderPath ~ main_story.storyImage[0].filename ) %}
        {% set story_image = ("https://dv38fo0xkn5dz.cloudfront.net/fit-in/875x550/media/"~ image_path ~ " ") %}
    {%- endif -%}

    <div class="featured_story">
        <div class="title">
            <h1 class='md-only'> <a href="{{ main_story.url }}">{{- main_story -}}</a> </h1>
            <h2 class='tight sm-only'> <a href="{{ main_story.url }}">{{- main_story -}}</a> </h1>
            <p> {{ main_story.storyDescription }}</p>
            <div class="metadata caption">
                {% if main_story.storyDates %}{{- main_story.storyDates -}} - {% endif %}
                {% if main_story.storyLocation %}{{- main_story.storyLocation -}} - {% endif %}
                {{- main_story.chapterList | length -}}&nbsp;{{- main_story.chapterList | length == 1 ? 'Chapter' : 'Chapters' -}}
            </div>
            <div class="read_more">
                <a href="{{ main_story.url }}">Read More</a>
            </div>
        </div>
        <a href="{{ main_story.url }}" class="image" style="background-image: url({{ story_image }})"></a>

    </div>

    <div class="more_stories">
        {%- set stories =  craft.Entries.section('story').orderBy('postDate desc').limit(2).offset(1) -%}
        {%- for story in stories -%}
            <div class="story_block">
                {%- if story.storyImage | length > 0 -%}
                    {%- set image_path = ( story.storyImage[0].folderPath ~ story.storyImage[0].filename ) -%}
                    {%- set story_image = ("https://dv38fo0xkn5dz.cloudfront.net/fit-in/700x550/media/"~ image_path ~ " ") -%}
                {% else %}
                    {%- set story_image =  'https://placehold.it/700/550'  -%}
                {%- endif -%}

                <a href="{{ story.url }}" class="image" style="background-image: url({{ story_image }})"></a>
                <h2 class="tight"><a href="{{ story.url }}"> {{ story }} </a></h2>
                <div class="metadata caption">
                    {% if story.storyDates %}{{- story.storyDates -}} - {% endif %}
                    {% if story.storyLocation %}{{- story.storyLocation -}} - {% endif %}
                    {{- story.chapterList | length -}}&nbsp;{{- story.chapterList | length == 1 ? 'Chapter' : 'Chapters' -}}
                </div>
                <div class="read_more">
                    <a href="{{ story.url }}">Read More</a>
                </div>
            </div>
        {%- endfor -%}

    </div>
    <div class="read_more_stories">
        <a class="primary_button" href="/stories">More Stories</a>
    </div>

</section>

<section class="posts dark grid">
    <header class="caption">
        Recent Posts
    </header>

    <div class="heading">
        <h1>TrailLog Posts</h1>
    </div>
    <div class="wide">
        <p class="trail_log_intro">
            Connect with nature, get some fresh air, find yourself, and have fun. Take the extra step
            (or 10,000) and join us on one of the thousands of backcountry trails the country has to offer!
        </p>
    </div>

    {%- set entryQuery = craft.entries().section('article').orderBy('postDate desc').limit(9) -%}
    {%- set entries = entryQuery.all() -%}

    <div class="recent_articles sm">
        {%- for entry in entries -%}
            {%- set image_url =  'https://placehold.it/300/500'  -%}
            <a href="{{entry.url}}" class="article">
                {%- if entry.heroImage | length > 0 -%}
                    {%- set image_path = ( entry.heroImage[0].folderPath ~ entry.heroImage[0].filename ) -%}
                    {%- set image_url = ("https://dv38fo0xkn5dz.cloudfront.net/800x450/media/"~ image_path) -%}
                {%- endif -%}
                <div class="article_image" style="background-image: url({{ image_url }})"></div>
                <div class="metadata">
                    {% if entry.place %}<div class="location">{{ entry.place }}</div>{% endif %}
                    <div class="title">{{entry.title}}</div>
                </div>
            </a>
        {%- endfor -%}
    </div>

    <div class="recent_articles md">
        {%- for entry in entries -%}
            <div class="article">
                {%- if entry.heroImage | length > 0 -%}
                    {%- set image_path = ( entry.heroImage[0].folderPath ~ entry.heroImage[0].filename ) -%}
                    {%- set image_url = ("https://dv38fo0xkn5dz.cloudfront.net/800x450/media/"~ image_path) -%}
                {% else %}
                    {%- set image_url =  'https://placehold.it/300/500'  -%}
                {%- endif -%}

                <a href="{{entry.url}}" class="article_image" style="background-image: url({{ image_url }})"></a>
                <h3 class="tight"><a href="{{entry.url}}">{{entry.title}}</a></h2>
                {% if entry.place %}<div class="caption">{{ entry.place }}</div>{% endif %}
                <a href="{{entry.url}}" class="read_more">Read More</a>
            </div>
        {%- endfor -%}

    </div>

    <div class="read_more_stories">
        <a href="/articles" class="primary_button">More Posts</a>
    </div>


</section>



{% include 'components/share.twig' %}
{% include 'components/footer.twig' %}
